div.syntax pre .hll { background-color: #333333 }
div.syntax pre  { background: #111111; color: #ffffff }
div.syntax pre .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
div.syntax pre .err { color: #ffffff } /* Error */
div.syntax pre .g { color: #ffffff } /* Generic */
div.syntax pre .k { color: #fb660a; font-weight: bold } /* Keyword */
div.syntax pre .l { color: #ffffff } /* Literal */
div.syntax pre .n { color: #ffffff } /* Name */
div.syntax pre .o { color: #ffffff } /* Operator */
div.syntax pre .x { color: #ffffff } /* Other */
div.syntax pre .p { color: #ffffff } /* Punctuation */
div.syntax pre .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
div.syntax pre .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
div.syntax pre .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
div.syntax pre .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
div.syntax pre .gd { color: #ffffff } /* Generic.Deleted */
div.syntax pre .ge { color: #ffffff } /* Generic.Emph */
div.syntax pre .gr { color: #ffffff } /* Generic.Error */
div.syntax pre .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
div.syntax pre .gi { color: #ffffff } /* Generic.Inserted */
div.syntax pre .go { color: #444444; background-color: #222222 } /* Generic.Output */
div.syntax pre .gp { color: #ffffff } /* Generic.Prompt */
div.syntax pre .gs { color: #ffffff } /* Generic.Strong */
div.syntax pre .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
div.syntax pre .gt { color: #ffffff } /* Generic.Traceback */
div.syntax pre .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
div.syntax pre .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
div.syntax pre .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
div.syntax pre .kp { color: #fb660a } /* Keyword.Pseudo */
div.syntax pre .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
div.syntax pre .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
div.syntax pre .ld { color: #ffffff } /* Literal.Date */
div.syntax pre .m { color: #0086f7; font-weight: bold } /* Literal.Number */
div.syntax pre .s { color: #0086d2 } /* Literal.String */
div.syntax pre .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
div.syntax pre .nb { color: #ffffff } /* Name.Builtin */
div.syntax pre .nc { color: #ffffff } /* Name.Class */
div.syntax pre .no { color: #0086d2 } /* Name.Constant */
div.syntax pre .nd { color: #ffffff } /* Name.Decorator */
div.syntax pre .ni { color: #ffffff } /* Name.Entity */
div.syntax pre .ne { color: #ffffff } /* Name.Exception */
div.syntax pre .nf { color: #ff0086; font-weight: bold } /* Name.Function */
div.syntax pre .nl { color: #ffffff } /* Name.Label */
div.syntax pre .nn { color: #ffffff } /* Name.Namespace */
div.syntax pre .nx { color: #ffffff } /* Name.Other */
div.syntax pre .py { color: #ffffff } /* Name.Property */
div.syntax pre .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
div.syntax pre .nv { color: #fb660a } /* Name.Variable */
div.syntax pre .ow { color: #ffffff } /* Operator.Word */
div.syntax pre .w { color: #888888 } /* Text.Whitespace */
div.syntax pre .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
div.syntax pre .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
div.syntax pre .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
div.syntax pre .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
div.syntax pre .sb { color: #0086d2 } /* Literal.String.Backtick */
div.syntax pre .sc { color: #0086d2 } /* Literal.String.Char */
div.syntax pre .sd { color: #0086d2 } /* Literal.String.Doc */
div.syntax pre .s2 { color: #0086d2 } /* Literal.String.Double */
div.syntax pre .se { color: #0086d2 } /* Literal.String.Escape */
div.syntax pre .sh { color: #0086d2 } /* Literal.String.Heredoc */
div.syntax pre .si { color: #0086d2 } /* Literal.String.Interpol */
div.syntax pre .sx { color: #0086d2 } /* Literal.String.Other */
div.syntax pre .sr { color: #0086d2 } /* Literal.String.Regex */
div.syntax pre .s1 { color: #0086d2 } /* Literal.String.Single */
div.syntax pre .ss { color: #0086d2 } /* Literal.String.Symbol */
div.syntax pre .bp { color: #ffffff } /* Name.Builtin.Pseudo */
div.syntax pre .vc { color: #fb660a } /* Name.Variable.Class */
div.syntax pre .vg { color: #fb660a } /* Name.Variable.Global */
div.syntax pre .vi { color: #fb660a } /* Name.Variable.Instance */
div.syntax pre .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */