@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/* reset style */
* { margin: 0; padding: 0; border: 0 none; outline: 0; vertical-align: baseline;letter-spacing: 0px; }
body, html {
    height: 100%;
}
body {
    padding: 40px;
    background-color: #eee;
    color: black;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 1em;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-shadow: 0px 0px 5px #29f;
    -webkit-text-shadow: 0px 0px 5px #29f;
    -moz-text-shadow: 0px 0px 5px #29f;
}
ul {
    list-style-position: inside;
}
small {
    font-size: 0.80em;
}

input, textarea {
    border: 1px solid #888;
    margin: 4px 0 4px 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px #888;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0px 0px 5px #888;
    background: -webkit-linear-gradient(bottom,  #fff,  #ddd);
    background: -moz-linear-gradient(bottom,  #fff,  #ddd);

}

input:focus, textarea:focus {
    box-shadow: 0px 0px 5px #06f;
    -webkit-box-shadow: 0px 0px 5px #06f;
    -moz-box-shadow: 0px 0px 5px #06f;
}

input[type='submit'], input[type='reset'] {
    font-weight: bold;
    color: white;
    background-color: #333;
    background: -webkit-linear-gradient(top,  #666,  #333);
    background: -moz-linear-gradient(top,  #666,  #333);
    text-shadow: 0 0 5px #111;
    -moz-text-shadow: 0 0 5px #111;
    -webkit-text-shadow: 0 0 5px #111;
    border: 2px solid #333;
}

input[type='submit']:hover, input[type='reset']:hover {
    background: -webkit-linear-gradient(top,  #666,  #333);
    background: -moz-linear-gradient(top,  #888,  #333);
}

input[type='submit']:active, input[type='reset']:active {
    background: -webkit-linear-gradient(bottom,  #666,  #333);
    background: -moz-linear-gradient(bottom,  #666,  #333);
}

#container {
    background-color: white;
    width: 900px;
    margin: auto;
    box-shadow: 0 0 20px #111;
    -webkit-box-shadow: 0 0 20px #111;
    -moz-box-shadow: 0 0 20px #111;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
}
#top {
    padding: 10px 20px 0 20px;
    margin-bottom: 10px;
}
#top h1 {
    float: left;
    display: block;
    width: 200px;
    font-size: 1.8em;
    line-height: 1.5em;
}
#top ul {
    width: 500px;
    display: block;
    float: right;
    list-style-type: none;
    text-align: right;
    padding-top: 14px;
}
#top li {
    font-size: 1.2em;
    display: inline;
    padding-left: 10px;
}
#header {
    margin: 5px 0 10px 0;
    float: left;
    width: 900px;
    height: 150px;
    background-image: url('header.jpg');
}
#content {
    display: inline;
    float: left;
    width: 640px;
    padding-right: 20px;
    padding-left: 20px;

    /* typography */
    font-size: 14px;
    line-height: 18px;
}

#content table {
    max-width: 550px;
}
#content p {
    max-width: 550px;
}
#content .text p {
    padding: 0.5em 0 0.5em 0;
}

#content a {
    text-decoration: underline;
}
#content h1 a {
    text-decoration: none;
}

#content img, iframe, video, pre {
    border: 2px solid white;
    -moz-box-shadow: 0px 0px 5px #333;
    -webkit-box-shadow: 0px 0px 5px #333;
    box-shadow: 0px 0px 5px #333;
}
#content img {
    margin-left: 5px;
}

#content h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-size: 1.6em;
    line-height: 2em;
    max-width: 550px;
}

#content h2 {
    font-size: 1.3em;
    line-height: 2em;
}
#content h3 {
    font-size: 1.3em;
    line-height: 2em;
}

#left {
    display: inline;
    float: left;
    width: 210px;
    padding-right: 10px;
}

#left .about img {
    float: left;
    padding-right: 10px;
}
#left .about a {
    text-decoration: underline;
}
#left .about small {
    padding-top: 10px;
    padding-bottom: 2px;
    display: block;
}

#left span.navtitle {
    clear: both;
    font-size: 1.3em;
    line-height: 2em;
    font-weight: bold;
    display: block;
}

#left .badge img {
    padding: 10px 0 10px 0;
}

#left p {
    clear: both;
}

#left ul {
    list-style-type: none;
}
#left li {
    display: block;
    padding-bottom: 0.8em;
}

#left .tag-cloud {
    padding-bottom: 0.8em;
    font-size: 0.8em;
}

#footer {
    clear: both;
    height: 20px;
}

/* zine specific */
.postmeta, .entry .meta {
    color: #333;
    padding-bottom: 10px;
    font-style: italic;
}
.related, div.comment .meta {
    background-color: #eee;
    border: 1px solid #bbb;
    margin: 10px 0 10px 0;
    padding: 4px 4px 2px 6px;
    max-width: 550px;
}
#comments li {
    list-style-type: none;
}
div.comment {
    padding: 10px;
    margin: 10px 0 10px 0;
}
div.comment .text {
    border-left: 10px solid #ddd;
    padding-left: 10px;
}

#comments li li {
    margin: 10px 0 10px 40px;
}

.comment {
}

.errors {
    color: #a00;
    font-weight: bold;
    list-style-type: none;
}

pre {
    padding: 4px;
    margin: 10px 0 10px 0;
    overflow: auto;
    max-width: 550px;
    max-height: 550px;
}

/* content specific */
.imagelist {
    list-style-type: none;
}
.imagelist li {
    clear: both;
    margin-left: -8px;
}
.imagelist img {
    float: left;
    margin: 0px 8px 10px 10px;
}
.imagelist a {
    display: block;
    vertical-align: top;
    padding: 4px 4px 4px 8px;
    font-weight: bold;
}
.imagelist small {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
.twitter iframe {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 0px;
}
